# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/

# OS
.DS_Store

# Installers
*.deb
*.rpm

# Django migrations (ignore all except __init__.py)
**/migrations/*
!**/migrations/__init__.py




